<div fxLayout="column" fxLayoutAlign="start stretch" fxFill class="experience__wrapper">
    <mat-card style="margin-bottom: 16px;">
        <mat-card-header class="experience__wrapper-header">
            <img mat-card-avatar *ngIf="media.isActive('gt-xs')" [src]="'./assets/rhombus-icon.png'" class="experience__wrapper-image">
            <mat-card-title class="experience__wrapper-title">Rhombus-Shell Header</mat-card-title>
            <mat-card-subtitle class="experience__wrapper-subtitle"></mat-card-subtitle>
        </mat-card-header>
    </mat-card>
    <mat-card>
        
    </mat-card>
</div>