<div fxLayout="column" fxLayoutAlign="start stretch" fxFill>
    <mat-card>
        <mat-toolbar color="primary">
            <span>Rhombus Shell</span>
        </mat-toolbar>
        <mat-card-content class="rhombus-app__page-padding">
            <mat-list>
                <mat-list-item>Item 1</mat-list-item>
                <mat-list-item>Item 2</mat-list-item>
                <mat-list-item>Item 3</mat-list-item>
                <mat-list-item>Item 1</mat-list-item>
                <mat-list-item>Item 2</mat-list-item>
                <mat-list-item>Item 3</mat-list-item>
            </mat-list>
        </mat-card-content>
    </mat-card>
    <rhombus-widget-list 
        [headerText]="_headerText" 
        [color]="_color" 
        [content]="_contentList">
    </rhombus-widget-list>
</div>