.experience__wrapper {
    padding: 16px;

    mat-card-header {
        padding-bottom: 0 !important;
    }

    &-header {
        padding-bottom: 16px;
    }

    &-image {
        background-position: center;
        background-size: cover;
        width: 100px;
        height: 100px;
    }

    &-title {
        font-size: 24px;
        margin: 20px 0 16px;
    }
    
    &-subtitle {
        font-size: 18px;
    }

    &-summary {
        padding-bottom: 0;
    }

    &-job-card {
        margin: 16px;
        padding: 0;

        &-content {
            padding: 16px;
        }
    }

    &-job-wrapper {
        overflow-y: auto;
        margin-top: 16px;
    }

    &-description {
        border: 1px solid black;
    }
}

.mat-expansion-panel-header-description {
    direction: rtl;
}

.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
    margin-right: 24px;
}

button {
    margin: 0 4px;
}