<div fxLayout="column" fxLayoutAlign="start stretch" fxFill>
    <mat-toolbar color="primary">Getting Started</mat-toolbar>
    <mat-card fxFlex style="overflow-y: auto">
        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="start stretch" fxFlex style="overflow-y: auto">
                <mat-list>
                    <mat-list-item>1: Node</mat-list-item>
                    <mat-list-item>2: NPM</mat-list-item>
                    <mat-list-item>3: Git</mat-list-item>
                    <mat-list-item>4: Visual Studio Code</mat-list-item>
                    <mat-list-item>5: Angular CLI</mat-list-item>
                    <mat-list-item>6: Angular Material</mat-list-item>
                    <mat-list-item>7: Firebase</mat-list-item>
                    <mat-list-item>1: Node</mat-list-item>
                    <mat-list-item>2: NPM</mat-list-item>
                    <mat-list-item>3: Git</mat-list-item>
                    <mat-list-item>4: Visual Studio Code</mat-list-item>
                    <mat-list-item>5: Angular CLI</mat-list-item>
                    <mat-list-item>6: Angular Material</mat-list-item>
                    <mat-list-item>7: Firebase</mat-list-item>
                </mat-list>
            </div>

        </mat-card-content>
    </mat-card>
    <!-- <rhombus-widget-grid fxFlex
        [columns]="_columns" 
        [headerText]="'Coming Soon'" 
        [color]="'accent'" 
        [content]="_contentList">
    </rhombus-widget-grid> -->
</div>
      