<div fxLayout="column" fxLayoutAlign="start stretch" fxFill>
    <mat-card>
        <mat-toolbar color="primary">
            <span>Welcome!!!</span>
        </mat-toolbar>
        <mat-card-content class="rhombus-app__page-padding">
            <p>
                Welcome to the official home of Rhombus software!!!
            </p>
            <p>
                This is the sandbox application for the Rhombus software suite. Here, you will find content relating to the components, directives and services provided by my suite of reusable code libraries.
            </p>
            <p>
                Enjoy!!!
            </p>
        </mat-card-content>
    </mat-card>
    <rhombus-widget-grid fxFlex
        [columns]="_columns" 
        [headerText]="'Coming Soon'" 
        [color]="'accent'" 
        [content]="_contentList">
    </rhombus-widget-grid>
</div>
      